[Unit]
Description=Factorio Headless Server

[Service]
Type=simple
ExecStart=/opt/factorio/bin/x64/factorio --start-server /opt/factorio/saves/world.zip  --rcon-port 25900 --rcon-password '{{ password_RCON }}'